img {
  margin-bottom: 32px;
}

body {
  text-align: center;
  margin: 0px;
}

#flut {
  width: 540px;
  margin: 64px auto 64px;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  color: #828282;
  font-size: 15px;
  line-height: normal;
}

p span {
  color: #3f3d56;
  font-weight: bold;
}

a {
  color: #3f3d56;
  font-weight: 800;
}

#footer a + a {
  margin-left: 42px;
}

#line {
  width: 391px;
  height: 0px;
  border: 1px solid #eceff2;
  margin: 0 auto 16px;
}

#wave {
  margin-top: 40px;
}
